.logo {
    font-family: 'Lobster', cursive;
    color: #575fcf;
    text-shadow: 3px 3px 0px #1e272e;
}

span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #F25A70;
    margin-right: 10px;
}