.action {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.action::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #ffc048;
    margin-right: 10px;
}