.header {
    display: flex;
    justify-content: space-between;
    background-color: #00d8d6;
    border-bottom: 10px solid #808e9b;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}